@model Order
@{ Layout = "_Layout"; ViewBag.Title = "Update an Order";}

<h2>Update an Order <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form method="post" asp-action="UpdateOrder">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Id"></label>
        <input class="form-control" asp-for="Id" readonly />
    </div>
    <div class="form-group">
        <label asp-for="CustomerId"></label>
        <input class="form-control" asp-for="CustomerId" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OrderCost"></label>
        <input class="form-control" asp-for="OrderCost" />
        <span asp-validation-for="OrderCost" class="text-danger"></span>
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Update Order</button>
    </div>
</form>

@if (ViewBag.Result == "Success")
{
    <h2>Reservation</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>Customer Id</th>
                <th>Description</th>
                <th>Order Cost</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.CustomerId</td>
                <td>@Model.Description</td>
                <td>@Model.OrderCost</td>     
            </tr>
        </tbody>
    </table>
}